<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @how_to_step.content %>
</p>

<%= link_to 'Edit', edit_how_to_topic_how_to_step_path(@how_to_topic, @how_to_step) %> |
<%= link_to 'Back', how_to_topic_path(@how_to_topic) %>
